* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
}
.big_container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  height: 100px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 32px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-decoration: none;
}
.logo img {
  margin-right: 13px;
  transition: transform 1.5s;
}
.logo:hover img {
  transform: rotate(360deg);
}
.header-form {
  display: flex;
  position: relative;
}
.button-pink {
  display: block;
  text-decoration: none;
  background-color: #f16d7f;
  height: 38px;
  color: #ffffff;
  font-size: 15px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  padding-left: 19px;
  padding-right: 19px;
  margin-left: 26px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
}
.button-pink:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}
.header-right {
  display: flex;
  align-items: flex-end;
}
.browse {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  position: relative;
}
.browse:hover .drop-dawn-box {
  display: block;
}
.browse span {
  color: #222222;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 38px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding-left: 15px;
}
.search {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 317px;
  height: 38px;
  padding-right: 38px;
  padding-left: 10px;
  color: #a4a4a4;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 32px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.search::placeholder {
  opacity: 0.8;
}
.search:focus {
  outline: none;
}
.button-form {
  position: absolute;
  right: 0;
  height: 38px;
  width: 38px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 32px;
  /* Приближение из-за подстановки шрифтов */
}
.button-form:hover {
  filter: brightness(0.8);
}
.button-form:focus {
  outline: none;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu > li:hover {
  border-bottom: 2px solid #f16d7f;
}
.mega-link:hover {
  color: #f16d7f;
}
.menu > li:hover .mega-box {
  display: flex;
}
.menu li {
  list-style-type: none;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: border-bottom 0.3s ease-in;
}
.menu > li > a {
  display: block;
  text-decoration: none;
  padding: 19px;
  color: #222222;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}
.slider {
  background-color: #e8e8e8;
  height: 614px;
}
.slider-back {
  background: url(../img/slider.jpg) -195px -51px;
  height: 100%;
  display: flex;
  align-items: center;
}
.brand-title-1 {
  color: #222222;
  font-size: 59.95px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: left;
}
.brand-title-2 {
  color: #222222;
  font-size: 39.96px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: left;
  padding-top: 0;
}
.brand-title-2 span {
  color: #f16d7f;
  font-size: 39.96px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: left;
  transform: scaleY(1.0009);
  /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.brand-name {
  color: #f16d7f;
  font-size: 27px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  line-height: 32px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-right: 37px;
}
.pink-block {
  background-color: #f16d7f;
  width: 12px;
  height: 102px;
  margin-right: 12px;
  margin-top: 10px;
}
.hot-deal-men {
  display: block;
  position: relative;
  width: 560px;
  height: 542px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}
.hot-deal-men img {
  width: 560px;
  height: 542px;
  transition: transform 1.5s;
}
.hot-deal-men:hover img {
  filter: opacity(0.9);
  transform: scale(1.1);
}
.accesories {
  display: block;
  position: relative;
  width: 560px;
  height: 261px;
  overflow: hidden;
}
.accesories img {
  width: 560px;
  height: 261px;
  transition: transform 1.5s;
}
.accesories:hover img {
  filter: opacity(0.9);
  transform: scale(1.1);
}
.tizer-block {
  display: flex;
  margin-top: 98px;
}
.offer-women {
  display: block;
  position: relative;
  width: 560px;
  height: 261px;
  overflow: hidden;
  margin-bottom: 20px;
}
.offer-women img {
  width: 560px;
  height: 261px;
  transition: transform 1.5s;
}
.offer-women:hover img {
  filter: opacity(0.9);
  transform: scale(1.1);
}
.new-arrivals-kids {
  display: block;
  position: relative;
  width: 560px;
  height: 542px;
  overflow: hidden;
}
.new-arrivals-kids img {
  width: 560px;
  height: 542px;
  transition: transform 1.5s;
}
.new-arrivals-kids:hover img {
  filter: opacity(0.9);
  transform: scale(1.1);
}
.ho-deal-title {
  position: absolute;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  top: 26px;
  background-color: #ffffff;
  width: 175px;
  height: 82px;
}
.tizer-title-1 {
  color: #222222;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: center;
  padding-left: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.tizer-title-2 {
  color: #f16d7f;
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  text-align: center;
  padding-left: 16px;
  text-transform: uppercase;
}
.accesories-title {
  position: absolute;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  top: 26px;
  background-color: #ffffff;
  width: 225px;
  height: 82px;
}
.offer-women-title {
  position: absolute;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  top: 26px;
  background-color: #ffffff;
  width: 162px;
  height: 82px;
}
.new-arrivals-title {
  position: absolute;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  top: 26px;
  background-color: #ffffff;
  width: 180px;
  height: 82px;
}
.fetured-tirle-1 {
  color: #222222;
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}
.fetured-tirle-2 {
  color: #9f9f9f;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 28px;
}
.fetured-items-block {
  margin-top: 100px;
  display: flex;
}
.feturedUnit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.itemUnit {
  width: 263px;
  text-decoration: none;
}
.itemUnit:hover img {
  filter: brightness(0.6);
}
.f-item-name {
  color: #222222;
  font-size: 13px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.f-item-price {
  color: #f16d7f;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}
.browse-all-product {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}
.fetured-items-text {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.offer-block {
  display: flex;
  background-color: #222224;
  width: 1140px;
  height: 529px;
  margin-top: 113px;
}
.offer-block-left {
  position: relative;
  width: 767px;
}
.offer-title-1 {
  position: absolute;
  top: 126px;
  color: #ffffff;
  font-size: 53.62px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-left: 39px;
}
.offer-title-1 span {
  color: #f16d7f;
  font-size: 53.62px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
}
.offer-title-2 {
  position: absolute;
  bottom: 305px;
  color: #ffffff;
  font-size: 32.17px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-left: 39px;
}
.offer-img {
  background: url(../img/offer-block-img.jpg);
  width: 767px;
  height: 529px;
}
.offer-block-right {
  width: 373px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.delivery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-right: 21px;
}
.sales-discounts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-right: 21px;
}
.quality-assurance {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  margin-right: 21px;
}
.offer-title-right-2 {
  color: #fbfbfb;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  padding-left: 120px;
}
.footerInside {
  width: 100%;
  margin: 0 auto;
}
.footer-message {
  background: url(../img/bcg-message.jpg) no-repeat center rgba(242, 242, 242, 0.5);
  height: 438px;
  margin-top: 97px;
}
.navigation-block {
  height: 458px;
  display: flex;
}
.copyright {
  background-color: #e6e6e6;
  height: 79px;
}
.fa-caret-down {
  margin-left: 8px;
}
.fa-long-arrow-alt-right {
  margin-left: 8px;
}
.cart-w {
  background: url(../img/cart_w.svg) no-repeat 12px 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 13px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  padding: 12px 12px 12px 40px;
  text-decoration: none;
  margin-bottom: 8px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.cart-w:hover {
  background-color: black;
  filter: invert(100%);
}
.cart-w:focus {
  outline: none;
}
.img-form {
  padding-right: 40px;
  padding-left: 33px;
}
#message-wrap {
  width: 497px;
}
.message {
  background: url(../img/photo-message.png) no-repeat;
  margin-top: 111px;
  cursor: grab;
}
.footer-message-left {
  width: 50%;
  height: inherit;
  border-right: 1px solid rgba(34, 34, 36, 0.1);
}
.text-message {
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-style: italic;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  padding-left: 110px;
  width: 386px;
  height: 68px;
}
.author-message {
  color: #f16d7f;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  padding-left: 110px;
  padding-top: 19px;
}
.author-message span {
  color: #222224;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.grey-button {
  display: block;
  background-color: #d6d6d6;
  width: 38px;
  height: 4px;
  margin-right: 13px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.grey-button:hover {
  background-color: #f16d7f;
}
.pink-button {
  display: block;
  background-color: #f16d7f;
  width: 38px;
  height: 4px;
  margin-right: 13px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.pink-button:hover {
  background-color: #d6d6d6;
}
.slider-message {
  display: flex;
  padding-left: 110px;
  padding-top: 41px;
}
.footer-message-right {
  width: 50%;
  height: inherit;
}
.subscribe {
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  margin-left: 217px;
  margin-top: 131px;
}
.subscribe span {
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-left: -72px;
}
.subs-form {
  display: flex;
  position: relative;
  margin-left: 93px;
  margin-top: 26px;
}
.email-subs {
  background-color: #e1e1e1;
  width: 256px;
  height: 46px;
  border: 0;
  border-radius: 50px 0 0 50px;
  padding-left: 15px;
  padding-right: 10px;
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 54px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  transition: background-color 0.3s ease;
}
.email-subs:hover {
  background-color: #ffffff;
}
.email-subs:focus {
  outline: none;
}
.button-subs {
  position: absolute;
  left: 281px;
  background-color: #f16d7f;
  width: 104px;
  height: 46px;
  border: 0;
  border-radius: 0 50px 50px 0;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  transition: all 0.3s linear;
}
.button-subs:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}
.bran-info-1 {
  display: block;
  color: #898989;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 18px;
}
.brand-information {
  width: 427px;
  margin-top: 105px;
}
.bran-info-2 {
  display: block;
  color: #898989;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 24px;
}
.footer-menu-title {
  color: #f16d7f;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-bottom: 20px;
}
.footer-menu-item {
  color: #898989;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 43px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-decoration: none;
}
.footer-menu-item:hover {
  color: #f16d7f;
}
.footer-menu-company {
  display: flex;
  flex-flow: column wrap;
  margin-left: 65px;
  margin-top: 110px;
}
.footer-menu-information {
  display: flex;
  flex-flow: column wrap;
  margin-left: 133px;
  margin-top: 110px;
}
.footer-menu-shop {
  display: flex;
  flex-flow: column wrap;
  margin-left: 88px;
  margin-top: 110px;
}
.copyright-text {
  color: #7a7a7a;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 42px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.social-icon {
  display: block;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 32px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  transition: all 0.3s ease;
}
.social-icon:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}
.footer-social {
  display: flex;
  align-items: center;
}
.copyright-flex {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-form-1 {
  padding-right: 46px;
  padding-left: 33px;
}
/*.cart-b:hover img {
    filter: drop-shadow(2px 2px 2px #f16d7f);
}*/
.f-item-text {
  padding: 20px 14px;
}
.parentUnit {
  width: 263px;
  position: relative;
  margin-bottom: 39px;
  transition: box-shadow 0.3s linear;
}
.parentUnit img {
  transition: filter 0.3s linear;
}
.parentUnit:hover img {
  filter: brightness(50%);
}
.parentUnit:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}
.parentUnit:hover .f-link-flex {
  opacity: 1;
}
.f-link-flex {
  width: 263px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 98px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footer-message-flex {
  height: inherit;
  display: flex;
}
.footer-menu {
  display: flex;
}
.breadcrumb {
  background-color: #f8f3f4;
  width: 100%;
  height: 148px;
}
.product-category-name {
  color: #f16d7f;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  line-height: 20px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-transform: uppercase;
}
.not-active-title {
  color: #636363;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 20px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-decoration: none;
  padding: 0 3px;
}
.not-active-title:hover {
  color: #f16d7f;
}
.active-title {
  color: #f16d7f;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-decoration: none;
  padding: 0 3px;
}
.breadcrumb-menu {
  display: flex;
}
.breadcrumb-menu li {
  list-style-type: none;
}
.breadcrumb-flex {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb-name {
  color: #f16d7f;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  line-height: 20px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-transform: uppercase;
}
.sidebar {
  width: 243px;
}
.top-filter {
  width: 848px;
}
.product {
  width: 848px;
}
.sidebar-title {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6e6e;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  width: 243px;
  height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 18px;
  border-left: 5px solid #ef5b70;
  padding-left: 5px;
  cursor: pointer;
}
.sidebar-title:hover {
  color: #ef5b70;
}
.sidebar-title:focus {
  outline: none;
}
.sidebar-title::-webkit-details-marker {
  display: none;
}
.sidebar-title::after {
  content: '\23F7';
}
.sidebar-details[open] > .sidebar-title::after {
  content: '\23F6';
}
.sidebar-details[open] > .sidebar-title {
  color: #ef5b70;
}
.sidebar-menu-title {
  color: #6f6e6e;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 33px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-decoration: none;
}
.sidebar-menu li {
  list-style-type: none;
  padding-left: 17px;
}
.summary-pink-block {
  background-color: #ef5b70;
  width: 5px;
  height: 37px;
}
.main-flex {
  margin-top: 59px;
  display: flex;
}
.sidebar-menu {
  margin-bottom: 23px;
}
.sidebar-menu a:hover {
  color: #ef5b70;
}
.right-bock {
  margin-left: 49px;
}
.retweet {
  display: block;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 38px;
  width: 57px;
  height: 38px;
  margin-right: 9px;
  transition: background-color 0.3s linear;
}
.retweet:hover {
  background-color: black;
  filter: invert(100%);
}
.like {
  display: block;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 38px;
  width: 57px;
  height: 38px;
  transition: background-color 0.3s linear;
}
.like:hover {
  background-color: black;
  filter: invert(100%);
}
.product-button-2 {
  width: 263px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 145px;
  opacity: 0;
}
.parentUnit:hover .product-button-2 {
  opacity: 1;
}
.mega-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  display: none;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #e8e8e8;
  top: 50px;
  left: -3px;
  z-index: 4;
}
.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 33px;
  transform: rotate(45deg);
  background-color: #fff;
}
.mega-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  letter-spacing: 0.35px;
}
.mega-heading {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.mega-flex {
  width: 234px;
  margin-right: 46px;
}
.mega-flex:last-of-type {
  margin-right: 0;
}
.mega-img {
  background: url(../img/mega-img1.jpg);
  width: 255px;
  height: 118px;
  position: absolute;
  bottom: 19px;
  right: 21px;
}
.mega-img:hover {
  filter: opacity(0.9);
}
.mega-img span {
  display: block;
  width: 71px;
  height: 45px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  position: absolute;
  bottom: 12px;
  right: 10px;
}
.mega-flex-inside {
  margin-top: 26px;
}
.drop-dawn-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px;
  position: absolute;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #e8e8e8;
  text-align: left;
  z-index: 2;
  top: 36px;
  display: none;
}
.drop-dawn-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 66px;
  transform: rotate(45deg);
  background-color: #fff;
}
.drop-dawn-inside {
  width: 236px;
}
.drop-dawn-inside-2 {
  margin-top: 12px;
}
.drop-dawn-inside li {
  list-style-type: none;
  margin-left: 6px;
}
.drop-dawn-inside-2 li {
  list-style-type: none;
  margin-left: 6px;
}
.drop-heading {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
}
.drop-link {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
}
.drop-link:hover {
  color: #ef5b70;
}
.cart-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px;
  position: absolute;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px #e8e8e8;
  top: 36px;
  left: -10px;
  display: none;
  z-index: 3;
}
.cart-b:hover .cart-box {
  display: block;
}
.cart-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -7px;
  left: 22px;
  transform: rotate(45deg);
  background-color: #fff;
}
.cart-box-inside {
  width: 229px;
}
.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.cartbox-img {
  width: 72px;
}
.cart-product .cart-product-img:hover {
  filter: opacity(0.9);
}
.cart-product .fas {
  color: #c0c0c0;
  font-size: 16px;
}
.cart-product-name {
  color: #222222;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.cart-price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 5px;
}
.cart-total {
  width: 229px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.cart-total span {
  float: right;
}
.button-checkout {
  display: block;
  text-decoration: none;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 11px;
}
.button-checkout:hover {
  background-color: #f16d7f;
  color: #fff;
}
.button-go_to_cart {
  display: block;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  line-height: 50px;
}
.button-go_to_cart:hover {
  background-color: #4a4a4a;
  color: #fff;
}
.times-circle {
  cursor: pointer;
}
.times-circle:hover {
  filter: brightness(0.7);
}
.cart-b {
  position: relative;
}
.cart-b a {
  display: block;
}
.cart-b:hover .cart-img {
  filter: drop-shadow(2px 2px 2px #f16d7f);
}
.trending-link {
  text-decoration: none;
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-right: 7px;
}
.trending-link:after {
  content: "|";
  color: #dfdfdf;
  padding-left: 5px;
}
.trending-link:nth-child(3):after {
  content: none;
}
.trending-link:nth-child(6):after {
  content: none;
}
.trending-filter-inside {
  display: flex;
  flex-wrap: wrap;
  width: 176px;
}
.trending-filter-inside a:hover {
  color: #f16d7f;
}
.trending-filter {
  width: 262px;
}
.top-filter-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.size-filter {
  width: 262px;
}
.price-filter {
  width: 262px;
}
.filter-title {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 3px;
  cursor: pointer;
}
.label-size-box {
  margin-right: 16px;
  width: 47px;
  display: inline-block;
  margin-bottom: 4px;
}
.checkbox {
  display: none;
}
.custom-checkbox {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.custom-checkbox,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .custom-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #f16d7f;
  border-radius: 2px;
}
input[type='range'] {
  width: 262px;
  -webkit-appearance: none;
  background-color: #f16d7f;
  height: 6px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type='range']:focus {
  outline: none;
}
.price-output {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 7px;
}
.sort-box {
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}
.sort-by {
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.sort-by a:hover {
  color: #f16d7f;
}
.sort-by a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.sort-title-1 {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  width: 66px;
  text-decoration: none;
}
.sort-title-2 {
  position: relative;
  display: inline-block;
  width: 80px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sort-by:after {
  content: '\23F7';
  padding: 0 10px;
  font-size: 15px;
  position: absolute;
  color: #6f6e6e;
  right: 10px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
.sort-title-2:hover {
  color: #f16d7f;
}
.sort-title-2:focus {
  outline: none;
}
.show-button {
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.show-button a:hover {
  color: #f16d7f;
}
.show-button a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.show-title-1 {
  display: inline-block;
  border-right: 1px solid #ebebeb;
  width: 55px;
  text-decoration: none;
}
.show-title-2 {
  position: relative;
  display: inline-block;
  width: 58px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: none;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.show-title-2:hover {
  color: #f16d7f;
}
.show-title-2:focus {
  outline: none;
}
.show-button:after {
  content: '\23F7';
  padding: 0 10px;
  font-size: 15px;
  position: absolute;
  color: #6f6e6e;
  right: 10px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  width: 261px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px;
}
.pagination a {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
}
.pagination .fas {
  color: #ef5b70;
}
.pagination a:hover {
  color: #ef5b70;
}
.button-view-all {
  display: block;
  text-decoration: none;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease;
}
.button-view-all:hover {
  background-color: #f16d7f;
  color: #fff;
}
.pagination-box {
  display: flex;
  justify-content: space-between;
}
.feature-box {
  margin-top: 110px;
  height: 341px;
  background-color: #222224;
}
.feature-box-flex {
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-delivery {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-right: 21px;
}
.feature-sales-discounts {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-right: 21px;
}
.feature-quality-assurance {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #fbfbfb;
  font-size: 20px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  margin-right: 21px;
}
.feature-title-1 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.feature-title-2 {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  letter-spacing: 0.35px;
  text-align: center;
  width: 310px;
}
.feature-img {
  margin-bottom: 32px;
}
.product-slide {
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;
}
.product-image-slide {
  /*background: url(../img/product-single-1.jpg) no-repeat center;*/
  width: 597px;
  margin: 0 auto;
}
#prod-slide .item img {
  display: block;
  width: 100%;
  height: auto;
}
.item img {
  width: 597px;
}
.product-description {
  position: relative;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.arrow-prev {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  background-color: #2a2a2a30;
  text-align: center;
  cursor: pointer;
}
.arrow-prev::before {
  font-family: "Font Awesome 5 Free";
  content: "\f104";
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
  line-height: 47px;
}
.arrow-prev:hover {
  filter: opacity(0.7);
}
.arrow-next {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 0;
  margin: 0 auto;
  width: 47px;
  height: 47px;
  background-color: #2a2a2a30;
  text-align: center;
  cursor: pointer;
}
.arrow-next::before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
  line-height: 47px;
}
.arrow-next:hover {
  filter: opacity(0.7);
}
.slider-collection {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.grey-button-collection {
  display: block;
  background-color: #eaeaea;
  width: 42px;
  height: 1px;
  cursor: pointer;
}
.grey-button-collection:hover {
  background-color: #f16d7f;
  height: 3px;
}
.pink-button-collection {
  display: block;
  background-color: #f16d7f;
  width: 63px;
  height: 3px;
  cursor: pointer;
}
.collection-heading {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
}
.product-heading {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 24px;
}
.product-spec {
  width: 618px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 26px;
  text-align: center;
}
.product-information-1 {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 22px;
}
.product-information-2 {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 22px;
}
.product-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 37px;
}
.product-line {
  width: 642px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 43px;
}
.product-color-filter {
  position: relative;
  display: block;
  text-decoration: none;
  width: 129px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  padding-left: 15px;
  margin-right: 50px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.product-color-filter:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: #ef5b70;
}
.product-color-filter:focus {
  outline: none;
}
.product-color-filter::-webkit-details-marker {
  display: none;
}
.product-color {
  position: absolute;
  display: block;
  text-decoration: none;
  width: 129px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  padding-left: 15px;
  margin-right: 50px;
  transition: box-shadow 0.3s;
}
.product-filter {
  display: flex;
  flex-wrap: wrap;
}
.product-filter .fas {
  float: right;
  line-height: 35px;
  padding-right: 9px;
}
.product-size-block {
  position: relative;
  display: inline-block;
}
.product-size-block::before {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  padding: 0 10px;
  font-size: 14px;
  position: absolute;
  color: #bcbcbc;
  right: 58px;
  top: 51px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
.product-size-filter:focus {
  outline: none;
}
.product-size-filter:hover {
  color: #ef5b70;
}
.product-size-filter {
  display: block;
  width: 147px;
  height: 37px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  padding-left: 15px;
  margin-right: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: box-shadow 0.3s;
}
.product-size-filter:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.product-quantity-filter {
  display: block;
  width: 129px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  padding-left: 15px;
  transition: box-shadow 0.3s;
}
.product-quantity-filter::placeholder {
  color: #bcbcbc;
}
.product-quantity-filter:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.product-quantity-filter:focus {
  outline: none;
}
.square-color:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  margin-right: 11px;
}
.square-color-black:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: black;
  margin-right: 11px;
}
.product-filter-title {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.add-to-cart-button {
  display: block;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  background: url(../img/cart_p.svg) no-repeat 190px center;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.add-to-cart-button:hover {
  background: url(../img/cart_w_2.svg) no-repeat 190px center #ef5b70;
  color: #ffffff;
}
.feedback {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 10px;
}
.feedbackItem {
  padding: 15px;
  width: 180px;
  font-size: 16px;
  background-color: #f5f3f3;
  margin: 5px 20px;
}
.feedbackItem:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.not-approved {
  filter: brightness(0.8);
}
.author {
  color: #ef5b70;
  font-weight: 700;
}
.dltBtn {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  color: #ef5b70;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
.dltBtn:hover {
  filter: opacity(0.8);
}
.approve-btn {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  color: #ef5b70;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
.approve-btn:hover {
  filter: opacity(0.8);
}
#feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.feedbackForm_author {
  width: 250px;
  height: 35px;
  border: 1px solid #ef5b7040;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in;
}
.feedbackForm_author:focus {
  outline: none;
}
.feedbackForm_author::placeholder {
  color: #b1b1b1;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.feedbackForm_msg {
  max-width: 250px;
  width: 250px;
  height: 130px;
  border: 1px solid #ef5b7040;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in;
}
.feedbackForm_msg:focus {
  outline: none;
}
.feedbackForm_msg::placeholder {
  color: #b1b1b1;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#addFeedback {
  width: 250px;
  height: 35px;
  background-color: #ef5b70;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border: 1px solid transparent;
}
#addFeedback:hover {
  background: #ffffff;
  color: #ef5b70;
  border: 1px solid #ef5b70;
}
#addFeedback:focus {
  outline: none;
}
#btnSubmit {
  width: 250px;
  height: 35px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
#btnSubmit:hover {
  background: #ef5b70;
  color: #ffffff;
}
#btnSubmit:focus {
  outline: none;
}
.product-description-flex {
  width: 642px;
  height: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.product-information {
  margin-top: 28px;
}
.product-filter-box {
  margin-top: 63px;
}
.you-may-like-also-box {
  margin-top: 119px;
}
.you-may-like-also-box h3 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.you-may-like-also-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
}
.ymla-img {
  height: 280px;
  background-color: #e9e9e9;
}
.single_itemUnit {
  text-decoration: none;
}
.shipping_adress_flex {
  display: flex;
}
.shipping_title {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 72px;
  line-height: 72px;
  cursor: pointer;
}
.shipping_title:hover {
  color: #f16d7f;
}
.shipping_title:focus {
  outline: none;
}
.shipping_title::-webkit-details-marker {
  display: none;
}
.shipping_box {
  margin-top: 85px;
}
.shipping_title_1 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.shipping_title_2 {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.shipping-link {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.shipping-link:hover {
  color: #ef5b70;
}
.burron-continue {
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  margin-bottom: 80px;
  transition: background-color 0.3s ease;
}
.burron-continue:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.entry_field_title {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.entry_field_title span {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
.required_field {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.button-log-in {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-right: 30px;
  transition: background-color 0.3s ease;
}
.button-log-in:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.entry_field {
  width: 368px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  transition: box-shadow 0.3s ease;
}
.entry_field:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.entry_field:focus {
  outline: none;
}
.shipping_adress-right {
  width: 50%;
}
.shipping_adress_left {
  width: 50%;
  padding-left: 35px;
}
.radi_register_box {
  margin-top: 30px;
  margin-bottom: 15px;
}
.shipping-link-box {
  margin-top: 25px;
  margin-bottom: 25px;
}
.entry-form {
  margin-top: 25px;
}
.label-checkout-title {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 25px;
  margin-bottom: 15px;
  line-height: 12px;
}
.label-checkout-title:hover {
  color: #ef5b70;
}
.radio {
  display: none;
}
.label-checkout-title:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #555555;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.radio:checked + .label-checkout-title:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  background: #555555;
  border-radius: 100%;
}
.cart_grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 164px 164px;
  margin-top: 90px;
  margin-bottom: 40px;
}
.grid_col_wrapper {
  display: grid;
  grid-template-columns: 510px 80px 240px 60px 200px 50px;
  border-bottom: 1px solid #eaeaea;
}
/*.grid_border {
  border-bottom: 1px solid #eaeaea;
}*/
.shop_cart_table_img {
  display: inline-block;
  float: left;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: filter 0.3s;
}
.shop_cart_table_img:hover {
  filter: opacity(0.9);
}
.shop_cart_img {
  width: 100px;
  height: 115px;
}
.item_table_title {
  display: inline-block;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 35px;
  margin-top: 20px;
  text-decoration: none;
}
.item_table_title:hover {
  color: #ef5b70;
}
.item_spec_info {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
}
.item_spec_info span {
  color: #575757;
  font-weight: 300;
  font-size: 13px;
}
.td_unite_price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.td_quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.td_shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.td_subtotal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.td_action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: filter 0.3s ease;
}
.td_action a:hover {
  filter: brightness(0.7);
}
.td_action a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.item_spec_info {
  margin-left: 20px;
  margin-top: 35px;
}
.td_quality_ink {
  display: block;
  width: 42px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-left: 95px;
  margin-right: 70px;
  padding-left: 10px;
  transition: box-shadow 0.3s;
}
.td_quality_ink::placeholder {
  color: #656565;
}
.td_quality_ink:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.td_quality_ink:focus {
  outline: none;
}
.shop_cart_t {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.shop_cart_t:first-child {
  text-align: left;
}
.shop_cart_th_1 {
  width: 510px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: left;
  padding-bottom: 20px;
}
.shop_cart_th_2 {
  width: 80px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.shop_cart_th_3 {
  width: 240px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.shop_cart_th_4 {
  width: 60px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.shop_cart_th_5 {
  width: 200px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.shop_cart_th_6 {
  width: 50px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  text-align: center;
  padding-bottom: 20px;
}
.th_block {
  border-bottom: 1px solid #eaeaea;
}
table {
  border-collapse: collapse;
  margin-top: 90px;
  margin-bottom: 40px;
}
.tr_block {
  border-bottom: 1px solid #eaeaea;
}
.clear_cart {
  display: inline-block;
  text-decoration: none;
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s ease;
}
.clear_cart:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.continue_shop {
  display: inline-block;
  text-decoration: none;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  float: right;
  transition: all 0.3s ease;
}
.continue_shop:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.ship_address_heading {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#ship_adress_country {
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in;
}
#ship_adress_country:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
#ship_adress_country:focus {
  outline: none;
}
.state_addr {
  width: 333px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in;
}
.state_addr:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.state_addr:focus {
  outline: none;
}
.post_zip_code {
  width: 333px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in;
}
.post_zip_code:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.post_zip_code:focus {
  outline: none;
}
.get-a-quote {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.get-a-quote:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.shipping_info {
  display: flex;
  justify-content: space-between;
}
.coupon_title {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 24px;
}
.apply_coupon {
  width: 118px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.apply_coupon:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}
.proceed_to_checkout {
  width: 280px;
  height: 134px;
  background-color: #f5f3f3;
  padding: 40px;
  text-align: center;
}
.proceed_to_checkout > p {
  text-align: right;
}
.coupon_discount {
  width: 360px;
}
.shipping_adr {
  width: 360px;
}
.border-line-checkout {
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
  margin-bottom: 17px;
}
.button_proceed_to_checkout {
  display: inline-block;
  width: 275px;
  height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.button_proceed_to_checkout:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.total_title {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.grand_total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.grand_total span {
  color: #f16d7f;
}
.button_shop_cart {
  margin-bottom: 63px;
}
.forgot-pass {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.forgot-pass:hover {
  color: #f16d7f;
}
.details_border {
  border-bottom: 1px solid #e8e8e8;
}
@-webkit-keyframes shake-br {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-br {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.shake-br:hover {
  -webkit-animation: shake-br 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-br 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/*# sourceMappingURL=style.css.map */